@charset "UTF-8";

#wrapper {
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

body {
	/*sage green hex code: #B2AC88*/
	background-color: gray;
	background-image: url("images/BNLogoBG.png");
}

.franchising {
	background-color: gray;
	border-radius: 5%;
	width: 625px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #000000;
	margin-bottom: 2px;
	margin-top: 20px;
}

#Title {
	color: black;
	display: flex;
	padding-top: 18px;
	font-size: 108px;
	justify-content: center;
	font-weight: bold;
}

#Title b {
	color: inherit;
	display: inherit;
	font-size: 78px;
	padding-top: 10px;
}

#Slogan {
	margin-top: 0px;
	text-align: center;
	color: black;	
}

.location {
	text-align: center;
	border: 2px solid;
	float: right;
	padding-right: 10px;
	padding-bottom: 40px;
	padding-left: 12px;
	border-radius: 25px;
	max-width: fit-content;
	max-height: fit-content;
	min-width: 15%;
	min-height: fit-content;
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 30px;
	font-size: 22px;
	font-weight: bold;
}

.hoursOfOp {
    border: 2px solid;
	float: left;
	border-radius: 25px;
	padding: 10px;
	padding-bottom: 30px;
	padding-right: 25px;
	max-width: fit-content;
	max-height: fit-content;
	min-width: 15%;
	min-height: fit-content;
	margin-top: 30px;
	margin-left: 50px;
	font-size: 24px;
	display: inline;
	margin-right: 30px;
}

ul {
	list-style: none;
}

.aboutState {
	border: 2px solid;
	float: none;
	display: inline-block;
	border-radius: 25px;
	padding: 10px;
	padding-bottom: 30px;
	padding-left: 15px;
	margin: 30px;
	margin-left: 55px;
	font-size: 24px;
	max-width: 985px;
	max-height: fit-content;
	min-width: 15%;
	min-height: fit-content;
}

#AboutState {
	text-decoration-line: underline;
	font-size: 26px;
	font-weight: bold;
}

#Location {
	text-align: center;
	text-decoration-line: underline;
	font-size: 26px;
}

#HoO {
	font-size: 26px;
	text-decoration-line: underline;
	min-width: 15%;
	text-align: center;
}

#KitchHours {
	font-size: 24px;
	font-weight: bold;
	min-width: 15%;
	text-align: center;
}

#Tab {
	background-color: grey;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-bottom: 2px solid;
	border-top: 2px solid;
	width: 1200px;
	display: center;
	height: 90px;
}

.btn {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	width: 395px;
}

.btn:hover {
	background-color: rgb(80, 80, 80);
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	text-decoration-color: blue;
}

h1 {
	text-align: center;
}

#Logo:link {
	color: black;
	text-orientation: none;
	text-decoration-line: none;
}

#Logo:visited {
	color:rgb(137, 14, 159)
}

#Aboutbutton {
	position: relative;
	height: 100%;
}

#Aboutbutton::before {
	content: "";
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .2;
	width: inherit;
	height: inherit;
}

#aboutStyle {
	background: url('images/aboutpic.jpg');
	height: 100%;
	width: 100%;
	padding: 12px 0 0 0;
}

#kitchenStyle {
	background: url('images/foodpic.jpg');
	height: 100%;
	width: 100%;
	padding: 12px 0 0 0;
}

#barStyle {
	background: url('images/drinkpic.jpg');
	height: 100%;
	width: 100%;
	padding: 12px 0 0 0;
}

#Foodbutton {
	position: relative;
	height: 100%;
}

#Foodbutton::before {
	content: "";
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .2;
	width: inherit;
	height: inherit;
}

#Barbutton {
	position: relative;
	height: 100%;
}

#Barbutton::before {
	content: "";
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .2;
	width: inherit;
	height: inherit;
}