h1 .beerList{
    line-height: 3rem;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

.beerContainer {
    margin: auto;
    width: 500px;
    overflow: auto;
}

.beerContainer .domestics {
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    color: var(--dark);
    float: left;
    border: 2px solid var(--midblue);
    border-radius: 8px;
    padding: 1rem;
    background: var(--sand);
    font-weight: 600;
    box-shadow: 5px 5px 5px #0000005a;
}

.domestics li{
    margin-top: 10px;
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--mid);
}

.localsList {
    float: right;
    clear: right;
}

.localsListMap {
    background: var(--sand);
    border: 2px solid var(--midblue);
    border-radius: 8px;
    padding: 1rem;
    width: auto;
    position: relative;
    margin: .5rem;
    box-shadow: 5px 5px 5px #0000005a;
}

.localsListMap h2 {
    color: var(--dark);
    font-weight: 600;
}

.localsListMap h4 {
    color: var(--mid);
    font-weight: 600;
}